.btn-main{
    background: #0A4A37;
    padding: 8px 44px;
    font-family: 'Nunito';
    font-weight: 700;
    color: white;
    border-radius: 18px;
    border-width: 0px;
    min-width: 180px;
    width: fit-content;
    height: 40px;
}

.btn-main:hover{
        background: #0C7C59;
}

.btn-secondary{
    background: #dddddd;
    padding: 8px 44px;
    font-family: 'Nunito';
    font-weight: 700;
    color: rgb(56, 56, 56);
    border-radius: 18px;
    border-width: 0px;
    width: 180px;
    height: 40px;
}

.btn-secondary:hover{
    background: #e5e5e5;
}