.card {

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
}

.card__image {
    height: 125px;
    width: auto;
}

.imageCard {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.30);
}



.box_price {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(2px);
    width: 100%;
}

#price{
    color: rgb(10, 74, 55);
    font-weight: bold;
}